[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = git@github.com:maple-labs/contract-test-utils.git
	ignore = dirty
[submodule "modules/debt-locker-v4"]
	path = modules/debt-locker-v4
	url = git@github.com:maple-labs/debt-locker.git
	ignore = dirty
[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
	ignore = dirty
