[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = git@github.com:maple-labs/contract-test-utils.git
	ignore = dirty
[submodule "modules/withdrawal-manager"]
	path = modules/withdrawal-manager
	url = git@github.com:maple-labs/withdrawal-manager.git
[submodule "modules/debt-locker-v4"]
	path = modules/debt-locker-v4
	url = git@github.com:maple-labs/debt-locker.git
	ignore = dirty
[submodule "modules/globals-v2"]
	path = modules/globals-v2
	url = git@github.com:maple-labs/globals-v2.git
[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
	ignore = dirty
[submodule "modules/migration-helpers"]
	path = modules/migration-helpers
	url = git@github.com:maple-labs/migration-helpers.git
[submodule "modules/pool-v2"]
	path = modules/pool-v2
	url = git@github.com:maple-labs/pool-v2.git
[submodule "modules/liquidations"]
	path = modules/liquidations
	url = git@github.com:maple-labs/liquidations.git
[submodule "modules/loan-v301"]
	branch = v3.01
	path = modules/loan-v301
	url = git@github.com:maple-labs/loan.git
[submodule "modules/loan-v302"]
	branch = v3.02
	path = modules/loan-v302
	url = git@github.com:maple-labs/loan.git
[submodule "modules/loan-v400"]
	path = modules/loan-v400
	url = git@github.com:maple-labs/loan.git
